/* FONT STACK */
body,
input, select, textarea {
	font-family: 	Verdana,Arial,Helvetica,sans-serif;
}

div.content {
    min-height: 300px;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}

/* BASE LAYOUT */

html {
	background-color: #ddd;
	background-image: -moz-linear-gradient(center top, #aaa, #ddd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #ddd));
	background-image: linear-gradient(top, #aaa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaaaaa', EndColorStr = '#dddddd');
	background-repeat: no-repeat;
	height: 100%;
	/* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html.no-cssgradients {
	background-color: #aaa;
}

.ie6 html {
	height: 100%;
}

.w45 {
    width: 45% !important;
}

html * {
	margin: 0;
}

body {
	background: #ffffff;
	color: #333333;
	margin: 0 auto;
	/*max-width: 960px;*/
    min-width: 1024px;
	overflow-x: scroll;
	   -moz-box-shadow: 0 0 0.3em #255b17;
	-webkit-box-shadow: 0 0 0.3em #255b17;
	        box-shadow: 0 0 0.3em #255b17;
}

div.appHeader {
	/*background-color: #abbf78;*/
    background: url("../images/bg-header.png") repeat-x;
    display: block;
    height: 95px;
    padding-top: 13px;
}

div.appHeader div.userSection {
    display: inline;
}

div.appHeader div.userSection span.userData {
    position: relative;
    top: -5px;
}

div.appHeader div.userSection span.userData a {
    display: inline !important;
}

div.appHeader div.logout {
    position: absolute;
    right: 20px;
    top: 50px;
}

/* replace with .no-boxshadow body if you have modernizr available */
.ie6 body,
.ie7 body,
.ie8 body {
	border-color: #255b17;
	border-style: solid;
	border-width: 0 1px;
}

.ie6 body {
	height: 100%;
}

a:link, a:visited, a:hover {
	color: #004799;
}

a:hover, a:active {
	outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

h1 {
	color: #003366;
	font-weight: normal;
	font-size: 22px;
	margin: 0.8em 0 0.3em 0;
}

ul {
	padding: 0;
}

img {
	border: 0;
}

/* GENERAL */

div.appHeader a {
	/*display: inline-block;*/
	margin: 1em;
}

.content {
}

.content.show, .content.edit {
    margin-top: 70px;
}


.content h1 {
	/*border-bottom: 1px solid #CCCCCC;*/
	margin: 0.8em 1em 0.3em;
	padding: 0 0.25em;
}

.scaffold-list h1 {
	border: none;
}

.footer {
    background: url("../images/bg-footer1.png") repeat-x scroll 0 0 transparent;
	/*background: #abbf78;*/
	color: #000;
	clear: both;
	font-size: 11px;
	margin-top: 1.5em;
	padding: 1em;
	min-height: 1em;
}

.footer a {
	color: #255b17;
}

.spinner {
	background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
	height: 16px;
	width: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
	top: 0;
	text-indent: -9999px;
}

/* NAVIGATION MENU */

.nav {
    background: url("../images/global-nav1.png") repeat-x scroll 0 0;
    /*background-color: #efefef;*/
	padding: 0.5em 0.75em;
	   -moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	        box-shadow: 0 0 3px 1px #aaaaaa;
	zoom: 1;
    font-size: 15px;
    min-height: 28px;
}

.nav ul {
	overflow: hidden;
	padding-left: 0;
	zoom: 1;
}

.nav ul {
    width: 100%;
}

.nav li {
	display: block;
	float: left;
	list-style-type: none;
    margin-right: 30px;
	/*margin-right: 0.5em;*/
	padding: 0;
}

.nav li.settings {
    display: block;
    float: right;
    list-style-type: none;
    margin-right: 10px !important;
    /*margin-right: 0.5em;*/
    /*padding: 0;*/
}


.nav a {
	color: #FFFFFF;
	display: block;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.nav a:active, .nav a:visited {
	color: #FFFFFF;
}

.nav a:focus, .nav a:hover {
	background-color: #2577dd;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.nav a.home, .nav a.list, .nav a.create {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.nav a.home {
	background-image: url(../images/skin/house.png);
}

.nav a.list {
	background-image: url(../images/skin/database_table.png);
}

.nav a.create {
	background-image: url(../images/skin/database_add.png);
}

/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
	margin: 0.6em 1.25em 0 1.25em;
	padding: 0.3em 1.8em 1.25em;
	position: relative;
	zoom: 1;
	border: none;
}

.property-list .fieldcontain {
	list-style: none;
	overflow: hidden;
	zoom: 1;
}

.fieldcontain {
	margin-top: 1em;
}

.fieldcontain label,
.fieldcontain .property-label {
	color: #666666;
	text-align: right;
	width: 25%;
}

.fieldcontain .property-label {
	float: left;
}

.fieldcontain .property-value {
	display: block;
	margin-left: 27%;
}

label {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0 0;
}

input, select, textarea {
	background-color: #fcfcfc;
	border: 1px solid #AAAAAA;
	font-size: 13px;
	padding: 0.2em 0;
}

body {
    font-size: 13px;
}

body table {
    font-size: 13px;
}

select {
	padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
	vertical-align: top;
}

textarea {
	width: 250px;
	height: 150px;
	overflow: auto; /* IE always renders vertical scrollbar without this */
	vertical-align: top;
}

input[type=checkbox], input[type=radio] {
	background-color: transparent;
	border: 0;
	padding: 0;
}

input:focus, select:focus, textarea:focus {
	background-color: #ffffff;
	border: 1px solid #CCCCCC;
	outline: 0;
	   -moz-box-shadow: 0 0 0.5em #ffffff;
	-webkit-box-shadow: 0 0 0.5em #ffffff;
	        box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
	color: #48802C;
	display: inline-block;
	font-weight: bold;
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
}

ul.one-to-many {
	display: inline-block;
	list-style-position: inside;
	vertical-align: top;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
	display: inline;
	zoom: 1;
}

ul.one-to-many li.add {
	list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
	background-color: transparent;
	border: 1px solid #CCCCCC;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

fieldset.embedded legend {
	margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.message {
	font-size: 11px;
	line-height: 2;
	margin: 1em 2em;
	padding: 0.25em;
}

.message {
	background: #f3f3ff;
	border: 1px solid red;
	color: #006dba;
	   -moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	        box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
	background: #fff3f3;
	border: 1px solid #ffaaaa;
	color: #cc0000;
	   -moz-box-shadow: 0 0 0.25em #ff8888;
	-webkit-box-shadow: 0 0 0.25em #ff8888;
	        box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
	padding: 0;
}

.errors li {
	list-style: none;
	background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
	text-indent: 2.2em;
}

.message {
	background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
	text-indent: 2.2em;
    color: red;
    font-size: 13px;

}

/* form fields with errors */

.error input, .error select, .error textarea {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* TABLES */

table {
	border-top: 1px solid #DFDFDF;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

tr {
	border: 0;
}

tr>td:first-child, tr>th:first-child {
	padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
	padding-right: 1.25em;
}

td, th {
	line-height: 1.5em;
	padding: 0.5em 0.6em;
	text-align: left;
	vertical-align: top;
}

th {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color: #666666;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
}

thead th {
	white-space: nowrap;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link, th a:visited {
	color: #5B5B5B;
}

th a:hover, th a:focus {
	color: #333333;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #EEEEEE;
}

.even {
	background: #ffffff;
}

th:hover, tr:hover {
	/*background: #dddddd;*/
}

/* PAGINATION */

.pagination {
	border-top: 0;
	margin: 0;
	padding: 0.3em 0.2em;
	text-align: center;
	   -moz-box-shadow: 0 0 3px 1px #AAAAAA;
	-webkit-box-shadow: 0 0 3px 1px #AAAAAA;
	        box-shadow: 0 0 3px 1px #AAAAAA;
	background-color: #EFEFEF;
}

.pagination a,
.pagination .currentStep {
	color: #666666;
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

/* ACTION BUTTONS */

.buttons {
	background-color: #efefef;
	overflow: hidden;
	padding: 0.3em;
	   -moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	        box-shadow: 0 0 3px 1px #aaaaaa;
	margin: 0.1em 0 0 0;
	border: none;
}

.buttons input,
.buttons a {
	background-color: transparent;
	border: 0;
	color: #666666;
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0;
	overflow: visible;
	padding: 0.25em 0.7em;
	text-decoration: none;

	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.buttons input:hover, .buttons input:focus,
.buttons a:hover, .buttons a:focus {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.buttons .delete, .buttons .edit, .buttons .save {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.buttons .delete {
	background-image: url(../images/skin/database_delete.png);
}

.buttons .edit {
	background-image: url(../images/skin/database_edit.png);
}

.buttons .save {
	background-image: url(../images/skin/database_save.png);
}

a.skip {
	position: absolute;
	left: -9999px;
}

img.menuIcon {
    position: relative;
    top: 2px;
    padding-right: 5px;
}

img.actionIcon {
    margin-right: 10px;
    position: relative;
    top: 4px;
    width: 24px;
}

img.commentIcon {
    width: 52px;
    margin-right: 5px;
    position: relative;
    top: 20px;
}

table td {
    color: #525252;
}

table td.centered {
    text-align: center;
}

div.actionMenu {
    margin-bottom: 50px;
    margin-top: 15px;
}

div.actionMenu ul li {
    float: right;
    list-style: none;
    padding-right: 30px;
}

a.delete {
    color: red;
}

a:hover {
    color: #E16F00;
}

table.entityShow, table.entityEdit {
    width: 920px;
    margin: 20px 20px 40px 20px;
}

table.entityShow tr td {
    border: 1px solid #A3A3A3;
}

table.entityEdit {
    border: none;
}

table.entityEdit input, table.entityEdit textarea {
    width: 90%;
}

span.projectStatus {
    font-size: 18px;
}

span.projectStatus.st1 {
    color: #666666;
}

span.projectStatus.st2 {
    color: #0000FF;
}

span.projectStatus.st3 {
    color: #FF0000;
}

table.loginTable {
    margin-top: 40px;
    margin-bottom: 50px;
    border: none;
    width: 100%
}

table.loginTable input[type=text],table.loginTable input[type=password] {
    width: 350px !important;
    padding-left: 10px;
}


table.loginTable tr td.label {
    text-align: right;
}


table.loginTable th:hover, table.loginTable tr:hover {
    background: none !important;
}

table.entityEdit th:hover, table.entityEdit tr:hover {
    background: none !important;
}

table.loginTable input.rememberme {
    position: relative;
    top: -1px;
    margin-right: 7px;
}

table.loginTable input[type=text], table.loginTable input[type=password] {
    width: 300px;
}

.calendatInputWrapper {
    width: 200px;
    border: solid 1px #000;
}

input.calendarInput {
    /*width: 175px;*/
    /*border: none;*/
    /*margin-right: 5px;*/
/**/
    background: url("../images/calendar-month.png") no-repeat scroll 120px 3px #FFFFFF;
    width: 140px !important;
}

div.buttonBlock {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 40px;
}

div.buttonBlock button {
    margin-right: 20px;
    font-size: 15px;
}

button.Login {
    font-size: 12px;
}

button.Login span {
    padding: 0 15px;
}


div.buttonBlock button span {
    padding: 0 15px;
}

a.Cancel, a.SaveCancel {
    font-size: 15px;
}

span.InputErrors ul li {
    list-style-type: none;
    color: red;
    padding-left: 5px;
    font-size: 10px;
}

input.errors {
    background-color: #FFBFBF;
}

span.createDate {
    float: right;
    font-size: 15px;
    position: relative;
    top: 5px;
    color: #525252;
}

h1.newEntity {
    margin-top: 40px;
}

span.entityValue {
    color: black;
}

div.actionMenu a {
    outline: none;
}

input[type="submit"]:hover {
    background-color: #DDDDDD;
}

a#changePassword {
    font-size: 15px;
}

li.quickSearch input {
    width: 300px;
    position: relative;
    top: 4px;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;

    /*padding-left: 10px;*/
    /*height: 20px;*/

    background: url("../images/search.png") 274px -2px no-repeat;
}

table.notFound {
    width: 100%;
}

table.notFound div.notfoundTitle{
    font-size: 24px;
    margin: 15px 0 25px 0;
}

table.notFound div.NothingFoundActions{
    font-size: 15px;
}

table.notFound tr td {
    text-align: center;
}

/*span.advancedSearchOpen {*/
    /*display: block;*/
    /*font-size: 11px;*/
    /*padding-top: 7px;*/
    /*padding-left: 190px;*/
/*}*/

/*span.advancedSearchClose {*/
    /*display: block;*/
    /*font-size: 11px;*/
    /*padding-top: 7px;*/
    /*padding-left: 214px;*/
/*}*/

/*div#advancedSearchBlock {*/
    /*margin-left: 20px;*/
    /*margin-top: 40px;*/
/*}*/


/*.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {*/
    /*border: 1px solid #eb8f00 !important;*/
    /*color: #eb8f00 !important;*/
/*}*/

li.ui-menu-item {
    /*background-color: blue;*/
}


a#ui-active-menu-item.ui-state-hover {
    background-color: blue;
}
/*<input class="ui-autocomplete-input"/>*/

/*<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all">*/
/*<li class="ui-menu-item">*/
/*<a class="ui-corner-all">item 1</a>*/
  /*</li>*/
  /*<li class="ui-menu-item">*/
/*<a class="ui-corner-all">item 2</a>*/
  /*</li>*/
  /*<li class="ui-menu-item">*/
/*<a class="ui-corner-all">item 3</a>*/
  /*</li>*/
/*</ul>*/

div.notfound, div.exception {
    width: 100%;
    padding-top: 40px;
    text-align: center;
}

div.notfound span, div.exception span {
    display: block;
    font-size: 15px;
    margin: 7px 0;
}

li.actionSeparator {
    padding-right: 70px !important;
}

span.commentAddBlock {
    position: absolute;
    left: 720px;
    font-size: 13px;
}

span.commentAddBlock a {
    position: relative;
    top: -30px;
}

div.CommentForm {
    padding: 20px;
}

div.CommentForm textarea {
    width: 600px;
    margin-bottom: 20px;
}

div.CommentForm input[type=submit] {
    width: 200px;
}


div.CommentForm a.cancelComment {
    padding-left: 10px;
}

p.noComments {
    font-size: 15px;
    margin-bottom: 80px;
    padding-left: 30px;
    padding-top: 10px;
}

span.commentTitle {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

span.commentBody {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    color: #555555;
    padding-bottom: 15px;
}

a.deleteCommentLink {
    color: red;
    padding-left: 10px;
}


